{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Parking Lots', 'List of your parking', 'automobile', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Parking Lots', 'automobile') %}
      {% call build_list_table() %}
        {% call build_list_table_headers(get=url_for('.ParkingLotView:get', id=''), delete=url_for('.ParkingLotView:delete', id='')) %}
           <th>Name</th>
           <th>Extension</th>
           <th>Slot start</th>
           <th>Slot end</th>
        {% endcall %}
        {% call(parking_lot) build_list_table_rows(resource_list['items']) %}
          <td>{{ parking_lot.name }}</td>
          <td>
            {% for extension in parking_lot.extensions %}
              <strong>internal:</strong> {{ extension.exten }}
            {% endfor %}
            {% if not parking_lot.extensions %}
              -
            {% endif %}
          </td>
          <td>{{ parking_lot.slots_start }}</td>
          <td>{{ parking_lot.slots_end }}</td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add Parking Lot') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
          {{ render_field(form.name) }}
          {{ render_field(form.extensions[0].context,
                          data_allow_clear=true,
                          data_listing_href=url_for(listing_urls['context_by_type'], type_='internal')) }}
          {{ render_field(form.extensions[0].exten) }}
          {{ render_field(form.slots_start) }}
          {{ render_field(form.slots_end) }}
          {{ render_field(form.music_on_hold, data_listing_href=url_for(listing_urls['moh'])) }}
          {{ render_field(form.timeout) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}
